@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');
:root {
  /*-------------Colors------------- */
  --ColorDarkA: rgb(0, 0, 0);
  --ColorWhiteA: rgb(255, 255, 255);
  /*-------------FontSize -- Perfect Fifth (1.500) Base Size 22px------------- */
  --FontH1: 233.25px;
  --FontH2: 144.16px;
  --FontH3: 89.10px;
  --FontH4: 55.07px;
  --FontH5: 34.03px;
  --FontParagraph: 21.03px;
  --FontSubtitle: 13px;
  /*-------------GoldenRatio (1.618) (Viewport Width 1920px)------------- */
  --GoldenRatio1: 1920px;
  --GoldenRatio2: 1186.65px;
  --GoldenRatio3: 733.41px;
  --GoldenRatio4: 453.28px;
  --GoldenRatio5: 280.15px;
  --GoldenRatio6: 173.15px;
  --GoldenRatio7: 107.01px;
  --GoldenRatio8: 66.14px;
  --GoldenRatio9: 40.88px;
  --GoldenRatio10: 25.27px;
  --GoldenRatio11: 15.62px;
  --GoldenRatio12: 9.65px;
  --GoldenRatio13: 5.96px;
  /*-------------Animation Timing Function------------- */
  --EaseInPower1: cubic-bezier(0.165, 0.84, 0.44, 1);
  --EaseInPower2: cubic-bezier(0.215, 0.610, 0.355, 1);
  --EaseInPower3: cubic-bezier(0.77, 0, 0.175, 1);
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  color: var(--ColorWhiteA);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lexend', sans-serif;
  background: var(--ColorDarkA);
  height: 100vh;
}

#wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#wrapper #SVGWrap {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

#wrapper #SVGWrap div {
  position: absolute;
}

#wrapper #SVGWrap #svgA {
  background: url(https://icodeayush.github.io/BeeSoft/svg/s21.svg) no-repeat center;
  top: 55vw;
  left: -40vw;
  height: 60vw;
  width: 60vw;
}

#wrapper #SVGWrap #svgB {
  background: url(https://icodeayush.github.io/BeeSoft/svg/s22.svg) no-repeat center;
  width: 10vw;
  height: 10vw;
  left: 35vw;
  top: 57vw;
}

#wrapper #SVGWrap #svgC {
  background: url(https://icodeayush.github.io/BeeSoft/svg/so2.svg) no-repeat center;
  width: 70vw;
  height: 60vw;
  top: 52vw;
  right: -30vw;
}

#wrapper #logo {
  position: absolute;
  z-index: 2;
  width: fit-content;
  top: var(--GoldenRatio7);
  right: var(--GoldenRatio7);
  text-decoration: none;
  overflow: hidden;
}

#wrapper #logo h1 {
  font-size: var(--FontH5);
  font-weight: 600;
  color: var(--ColorWhiteA);
  opacity: 0;

}

#wrapper #intro {
  position: absolute;
  width: var(--GoldenRatio1);
  height: 100vh;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
}

#wrapper #intro h1 {
  display: flex;
  align-items: center;
  width: var(--GoldenRatio1);
  height: 100vh;
  flex-shrink: 0;
  cursor: default;
}

#wrapper #intro h1 span {
  font-size: var(--FontH3);
  font-weight: 600;
  width: var(--GoldenRatio3);
  color: var(--ColorWhiteA);
  margin-left: var(--GoldenRatio7);
  opacity: 0;
}

#wrapper nav {
  position: absolute;
  right: var(--GoldenRatio7);
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#wrapper nav span {
  display: flex;
  justify-content: space-between;
  display: block;
}

#wrapper nav span a:nth-child(1) {
  display: block;
  background: url(https://icodeayush.github.io/BeeSoft/svg/ChevronLeft.svg) no-repeat right;
  background-size: contain;
  height: var(--FontH5);
  width: var(--FontH5);
  margin-bottom: var(--GoldenRatio11);
  opacity: 0;
}

#wrapper nav span a:nth-child(2) {
  display: block;
  background: url(https://icodeayush.github.io/BeeSoft/svg/ChevronRight.svg) no-repeat right;
  background-size: contain;
  height: var(--FontH5);
  width: var(--FontH5);
  opacity: 0;
}

#wrapper footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: var(--GoldenRatio7);
  width: var(--GoldenRatio1);
  height: var(--FontH4);
}

#wrapper footer #insta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--FontH4);
  height: var(--FontH4);
  border-radius: 100%;
  margin-left: var(--GoldenRatio7);
  border: 2px solid rgb(255, 255, 255);
  opacity: 0;
}

#wrapper footer #insta a {
  display: block;
  width: var(--FontParagraph);
  height: var(--FontParagraph);
  background: url(https://icodeayush.github.io/BeeSoft/svg/Instagram.svg) no-repeat center;
  background-size: contain;
}

#wrapper footer #Behance {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--FontH4);
  height: var(--FontH4);
  border-radius: 100%;
  margin-left: var(--GoldenRatio11);
  border: 2px solid rgb(255, 255, 255);
  opacity: 0;
}

#wrapper footer #Behance a {
  display: block;
  width: var(--FontH5);
  height: var(--FontParagraph);
  background: url(https://icodeayush.github.io/BeeSoft/svg/Behance.svg) no-repeat center;
  background-size: cover;
}

#wrapper footer #copyright, #wrapper footer #codeby {
  font-size: var(--FontParagraph);
  font-weight: 500;
  color: var(--ColorWhiteA);
  margin-left: var(--GoldenRatio9);
  opacity: 0;
}

#wrapper footer #copyright {
  cursor: default;
}

#wrapper footer #codeby {
  text-decoration: none;
  margin-left: var(--GoldenRatio11);
}

#wrapper footer #codeby span {
  font-weight: 600;
  opacity: 0;
}

#wrapper #Lang {
  position: absolute;
  bottom: var(--GoldenRatio7);
  right: var(--GoldenRatio7);
  height: var(--FontH4);
  display: flex;
  align-items: center;
}

#wrapper #Lang span {
  display: flex;
}

#wrapper #Lang span a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--FontH4);
  height: var(--FontH4);
  border-radius: 100%;
  border: 2px solid rgb(255, 255, 255);
  margin-left: var(--GoldenRatio11);
  font-size: var(--FontParagraph);
  font-weight: 500;
  color: var(--ColorWhiteA);
  text-decoration: none;
  opacity: 0;
}

#wrapper #Lang span a:nth-child(2) {
  background: var(--ColorWhiteA);
  color: var(--ColorDarkA);
  opacity: 0;
}

/*-------------Animation Timeline------------- */

body {
  animation: BGAni 4s 0s ease-in-out infinite alternate-reverse;
}

#wrapper {
  animation: BGFadeAni 1.5s 6.1s ease forwards;
  background: black;
}

#wrapper #SVGWrap {
  animation: SVGFadeAni 3.3s 6.3s ease forwards;
  opacity: 0;
}

#wrapper #SVGWrap #svgA {
  animation: svgA 5.7s 4.9s ease-in-out infinite alternate-reverse;
}

#wrapper #SVGWrap #svgB {
  animation: svgB 5.2s 6.1s ease-in-out infinite alternate-reverse;
}

#wrapper #SVGWrap #svgC {
  animation: svgC 5.2s 6.3s ease-in-out infinite alternate-reverse;
}

#wrapper #intro h1 span {
  animation: LoadAniY 3s 1s var(--EaseInPower3) forwards;
}

#wrapper #logo h1 {
  animation: LoadAniY 2.2s 2.3s var(--EaseInPower2) forwards;
}

#wrapper footer #insta {
  animation: LoadAniOpacityY 1.5s 3.4s var(--EaseInPower2) forwards;
}

#wrapper footer #Behance {
  animation: LoadAniOpacityY 1.5s 3.6s var(--EaseInPower2) forwards;
}

#wrapper footer #copyright {
  animation: LoadAniOpacityY 1.5s 3.8s var(--EaseInPower2) forwards;
}

#wrapper footer #codeby {
  animation: LoadAniOpacityY 1.5s 4.2s var(--EaseInPower2) forwards;
}

#wrapper footer #codeby span {
  animation: LoadAniOpacityY 1.5s 4.4s var(--EaseInPower2) forwards;
}

#wrapper #Lang span a {
  animation: LoadAniOpacityXR 1.5s 4.8s var(--EaseInPower3) forwards;
}

#wrapper #Lang span a:nth-child(2) {
  animation: LoadAniOpacityXL 1.5s 5s var(--EaseInPower3) forwards;
}

#wrapper nav span a:nth-child(1) {
  animation: LoadAniXL 1.5s 6s var(--EaseInPower1) forwards;
}

#wrapper nav span a:nth-child(2) {
  animation: LoadAniXR 1.5s 6.2s var(--EaseInPower1) forwards;
}

/*-------------Animation Keyframes------------- */

@keyframes BGFadeAni {
  from {
    background: black;
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes SVGFadeAni {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes BGAni {
  from {
    background-image: linear-gradient(to top left, #FFC796 0%, #FF6B95 100%);
  }
  to {
    background-image: linear-gradient(to top left, #b721ff 0%, #21d4fd 100%);
  }
}

@keyframes svgA {
  0% {
    width: 20vw;
    height: 20vw;
    left: 10vw;
    top: 25vh;
    background: url(https://icodeayush.github.io/BeeSoft/svg/s21.svg) no-repeat center;
  }
  20% {
    background: url(https://icodeayush.github.io/BeeSoft/svg/s11.svg) no-repeat center;
  }
  100% {
    top: 55vw;
    left: -40vw;
    height: 60vw;
    width: 60vw;
    background: url(https://icodeayush.github.io/BeeSoft/svg/s11.svg) no-repeat center;
  }
}

@keyframes svgB {
  0% {
    right: 6vw;
    top: 6vw;
    background: url(https://icodeayush.github.io/BeeSoft/svg/s22.svg) no-repeat center;
  }
  20% {
    background: url(https://icodeayush.github.io/BeeSoft/svg/s12.svg) no-repeat center;
  }
  100% {
    height: 30vw;
    width: 30vw;
    top: 56vw;
    background: url(https://icodeayush.github.io/BeeSoft/svg/s22.svg) no-repeat center;
  }
}

@keyframes svgC {
  0% {
    width: 40vw;
    height: 30vw;
    right: 6vw;
    top: 6vw;
    background: url(https://icodeayush.github.io/BeeSoft/svg/so1.svg) no-repeat center;
  }
  40% {
    background: url(https://icodeayush.github.io/BeeSoft/svg/so2.svg) no-repeat center;
  }
  80% {
    background: url(https://icodeayush.github.io/BeeSoft/svg/so1.svg) no-repeat center;
  }
  100% {
    width: 70vw;
    height: 60vw;
    top: 52vw;
    right: -30vw;
    background: url(https://icodeayush.github.io/BeeSoft/svg/so1.svg) no-repeat center;
  }
}

@keyframes LoadAniY {
  from {
    opacity: 0;
    transform: translateY(3.1vw);
  }
  to {
    opacity: 1;
  }
}

@keyframes LoadAniXL {
  from {
    opacity: 0;
    transform: translateX(1.5vw);
  }
  to {
    opacity: 1;
  }
}

@keyframes LoadAniXR {
  from {
    opacity: 0;
    transform: translateX(-1.5vw);
  }
  to {
    opacity: 1;
  }
}

@keyframes LoadAniOpacityY {
  from {
    opacity: 0;
    transform: translateY(0.7vw);
  }
  to {
    opacity: 1;
  }
}

@keyframes LoadAniOpacityXL {
  from {
    opacity: 0;
    transform: translateX(0.3vw);
  }
  to {
    opacity: 1;
  }
}

@keyframes LoadAniOpacityXR {
  from {
    opacity: 0;
    transform: translateX(-0.3vw);
  }
  to {
    opacity: 1;
  }
}

/*-------------@media (max-width: 1920px)------------- */

@media (max-width: 1920px) {
  :root {
    --FontH1: 12.148vw;
    --FontH2: 7.508vw;
    --FontH3: 4.641vw;
    --FontH4: 2.868vw;
    --FontH5: 1.772vw;
    --FontParagraph: 1.095vw;
    --FontSubtitle: 0.677vw;
    /*-------------GoldenRatio (1.618) (Viewport Width 1920px)------------- */
    --GoldenRatio1: 100vw;
    --GoldenRatio2: 61.805vw;
    --GoldenRatio3: 38.198vw;
    --GoldenRatio4: 23.608vw;
    --GoldenRatio5: 14.591vw;
    --GoldenRatio6: 9.018vw;
    --GoldenRatio7: 5.573vw;
    --GoldenRatio8: 3.445vw;
    --GoldenRatio9: 2.129vw;
    --GoldenRatio10: 1.316vw;
    --GoldenRatio11: 0.814vw;
    --GoldenRatio12: 0.503vw;
    --GoldenRatio13: 0.310vw;
  }
}
/* *{
  margin: 0;;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  
} */
body{
  width: 100%;
  height: 100vh;
  object-fit: cover;
      background-image: url('https://wallpaperaccess.com/full/385736.jpg');
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
  

.NavbarItems{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
  width: 90%;
  height: 70px;
  border-radius: 13px;
  position: fixed;
  /* top: 20px; */
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
  background-color: white;
 
}

.navbar-logo{

  color: #222;
  font-size: 2rem;
  cursor: pointer;
}

.nav-menu{
  display: grid;
  grid-template-columns: repeat(6,auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
}

.nav-links a{
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 1rem;
  white-space: nowrap;
}

.nav-links a:hover{
  background-color: #01959a;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.openMenu{
  display: none;
  margin: 20px;
  font-size: 2rem;
  cursor: pointer;
}
.closeMenu{
  font-size: 2rem;
  display: none;
  cursor: pointer;

}
.hero-text{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
 
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* width: 100%; */
}
.hero-text h2{
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 2.2rem;
  /* font-weight: 800; */
  /* color: white; */
  background: #fff;
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;

}

.hero-text .show{
  /* margin-top: 10px; */
  text-decoration: none;
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #222;
  /* margin-left: 100px; */
}



@media screen and (max-width: 850px) {
  .nav-menu{
      height: 100vh;
      position: absolute;
      top: -10px;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #000;
      transition: top 0.5s ease;
      display: none;
  }

  .nav-links{
      margin: 20px;
  }
  
.nav-links a{
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 1rem;
  white-space: nowrap;
}

.nav-links a:hover{
  background-color: #01959a;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

  .closeMenu{
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
  }

  .openMenu{
      display: block;
  }
  
  


  .hero-text{
      position: absolute;
      top: 55%;
      left: 55%;
      transform: translate(-50%,-50%);
      /* width: 100%; */
  } 

  .hero-text{
      display: flex;
      flex-wrap: nowrap;

      align-items: center;
      justify-content: center;
      flex-direction: column;
     
      /* width: 100%; */
  }



  /* .nav-menu{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: #fff;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: -100%;
      opacity: 0;
      align-items: stretch;
      padding: 80px 0 30px 0;
      margin: 0;
      z-index: -1;
      transition: 0.3s ease-in-out;
      border-radius: 13px;
  }
  .nav-menu.active{
      left: 0;
      opacity: 1;
      z-index: -1;
      transition: 0.3s ease-in-out;

  }

  .nav-links{
      display: block;
      width: 100%;
      font-size: 1.2rem;
      padding: 2rem 0;
  }

  .nav-links:hover{
      background-color: #01959a;
      transition: none;
  }
  

  .nav-links-mobile{
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      background-color: #01959a;
      color: white;
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 2px ;

  }

  .NavbarItems{
      z-index: 99;
  } */
  /* .hero-text h2{
      text-transform: uppercase;
      font-size: 2rem;
      padding: 10px 20px;
  } */


}

@media screen and (max-width: 755px){
  .hero-text h2{
      text-transform: uppercase;
      font-size: 1.5rem;
      /* padding: 10px 20px; */
  }
  .hero-text .show{
      padding: 0.6rem 1.1rem;
      border-radius: 6px;
      font-size: 1rem;
  }
  .hero-text{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
     
      /* width: 100%; */
  }



}

.about-container{
  width: 100%;
  margin: 2rem 1rem;
  text-align: start;
}

.about-container h1{
  margin-bottom: 2rem;
}

.about-container p{
  padding-bottom: 1rem;
}

@media screen and (max-width:850px){
  .about-container{
      margin: 4rem 2rem;
  }
}

.footer{
  margin: 0rem;
    padding: 4rem 6rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


.top i{
    color: #fff;
    font-size: 2rem;
    /* margin-left: 1rem; */
}

.top i:hover{
    color: cyan;
}

.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bottom div{
    display: flex;
    flex-direction: column;
}
.bottom h4{
    font-style: 1.3rem;
    padding: 1rem 0 .8rem 0;
}
.bottom a{
    text-decoration: none;
    color: white;
    padding-bottom: .4rem;
    font-size: 1.1rem;
}

@media screen and (max-width:850px){
.footer{
    padding: 4rem 2rem;
}

.footer i{
    margin: 1rem 1rem 0 0;


}
.bottom div{
    width: 50%;
}

}

.footer{
  padding: 4rem 6rem;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: start;
}
.top i{
  color: #fff;
  font-size: 2rem;
  margin-left: 1rem;
}

.top i:hover{
  color: cyan;
}

.bottom{
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bottom div{
  display: flex;
  flex-direction: column;
}
.bottom h4{
  font-style: 1.3rem;
  padding: 1rem 0 .8rem 0;
}
.bottom a{
  text-decoration: none;
  color: white;
  padding-bottom: .4rem;
  font-size: 1.1rem;
}

@media screen and (max-width:850px){
.footer{
  padding: 4rem 2rem;
}

.footer i{
  margin: 1rem 1rem 0 0;


}
.bottom div{
  width: 50%;
}

}