{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" {% static 'style.css' %}">

</head>
<body>
    <!-- <div id="about"> -->

    
        <nav class = "NavbarItems">
            <h1 class ="navbar-logo">Techy software</h1>
            <div class="openMenu">
                <i class="fa fa-bars"></i>
            </div>
        
            <ul class="nav-menu">
                <li class="nav-links"><a href="/">HOME</a></li>
        <!-- <li class="nav-links"><a href="accounts/about">ABOUT US</a></li>
        <li class="nav-links"><a href="accounts/services">SERVICES</a></li> 
        <li class="nav-links"><a href="accounts/contactus">CONTACT US</a></li>  -->
                <div class="closeMenu">
                    <i class="fa fa-times"></i>
                </div>
            </ul>
            
        </nav>
        <br><br><br><br><br><br>
        <div class="about-container">
          <h1>providing a dynamic and personalized educational experience</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, placeat voluptatem eos aut dolorem nobis repellat suscipit, at eveniet, culpa exercitationem veniam quod temporibus ipsum maxime totam distinctio molestias quidem rerum eaque enim! Nobis.</p>
      </div>
      <div class="about-container">
        <h1>Setting standards and quality in web products</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, placeat voluptatem eos aut dolorem nobis repellat suscipit, at eveniet, culpa exercitationem veniam quod temporibus ipsum maxime totam distinctio molestias quidem rerum eaque enim! Nobis.</p>
    </div>
    <div class="about-container">
      <h1>Elevating brands and fostering growth</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, placeat voluptatem eos aut dolorem nobis repellat suscipit, at eveniet, culpa exercitationem veniam quod temporibus ipsum maxime totam distinctio molestias quidem rerum eaque enim! Nobis.</p>
    </div>
    <br><br><br><br>
    <div class="footer">
        <div class="top">
            <div>
            <h1>Techy Software</h1>
            <p>innovate and progress</p>
            </div>
            <div>
                <a href="https://www.facebook.com/people/Page-Nexus/pfbid02JzUGbhzDRdPwQA6HJJ85FBJQ4t1ynZC6q6Qf2zhrNp2SAowp9ib7ALmmpDbMxrial/?sk=about">
                    <i class="fa-brands fa-facebook"></i>
                    
                </a>
                <a href="https://www.instagram.com/nexussoftware.in/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/nexus-software-pvt-ltd/">
                    <i class="fa-brands fa-linkedin"></i>


                </a>
            </div>
            
    
                
            
        </div>

        <div class="bottom">
            <div>
                <h4>Project</h4>
                <a href="/">Changelog</a>
                <a href="/">Status</a>
                <a href="/">License</a>
                <a href="/">All Versions</a>
            </div>
            <div>
                <h4>Project</h4>
                <a href="/">Changelog</a>
                <a href="/">Status</a>
                <a href="/">License</a>
                <a href="/">All Versions</a>
            </div>
            <div>
                <h4>Project</h4>
                <a href="/">Changelog</a>
                <a href="/">Status</a>
                <a href="/">License</a>
                <a href="/">All Versions</a>
            </div>
            <div>
                <h4>Project</h4>
                <a href="/">Changelog</a>
                <a href="/">Status</a>
                <a href="/">License</a>
                <a href="/">All Versions</a>
            </div>

        </div>


    </div>
    
    
    
    
</body>
</html>