<!-- <div id="about"> -->
{% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'styleservices.css' %}">
    </head>
    <body>
        <nav class = "NavbarItems">
            <h1 class ="navbar-logo">Techy software</h1>
            <div class="openMenu">
                <i class="fa fa-bars"></i>
            </div>
        
            <ul class="nav-menu">
                <li class="nav-links"><a href="/">HOME</a></li>
                <!-- <li class="nav-links"><a href="accounts/about">ABOUT US</a></li>
                <li class="nav-links"><a href="accounts/services">SERVICES</a></li> 
                <li class="nav-links"><a href="accounts/contactus">CONTACT US</a></li>   -->
                <div class="closeMenu">
                    <i class="fa fa-times"></i>
                </div>
            </ul>
            
        </nav>
       
        <div class="wrapper">
            <div class="container">
                <div class="card border-top-yellow">
                    <!-- <img src="images/card-img1.png" alt="" > -->
                    <h2>Business Websites</h2>
                    <br>
                    <p>Elevate your online presence with custom-crafted websites that capture your vision and engage your audience.</p>
                    <br>
                    <div class="explore-btn">
                    <a href="/">Explore   <i class="fa fa-arrow-right"></i></a></div>
                </div>
                <div class="card border-top-green">
                    <!-- <img src="images/card-img2.png" alt="" > -->
                    <h2>E-Commerce Websites</h2>
                    <br>
                    <p>Step into the digital marketplace with seamless online shopping experiences that empower your business to thrive.</p>
                    <br>
                    <div class="explore-btn">
                    <a href="/">Explore   <i class="fa fa-arrow-right"></i></a></div>
                </div>
                <div class="card border-top-blue">
                    <!-- <img src="images/card-img3.png" alt="" > -->
                    <h2>Career Programs</h2>
                    <br>
                    <p>Ignite professional growth with enriching internships, bridging the gap between academic learning and real-world success.</p>
                    <br>
                    <div class="explore-btn">
                    <a href="/">Explore   <i class="fa fa-arrow-right"></i></a></div>
                </div>
                <div class="card border-top-green">
                    <!-- <img src="images/card-img3.png" alt="" > -->
                    <h2>Educational Websites</h2>
                    <br>
                    <p>Transform education in the digital age with platforms that facilitate learning and collaboration for institutions and educators.</p>
                    <br>
                    <div class="explore-btn">
                    <a href="/">Explore   <i class="fa fa-arrow-right"></i></a></div>
                </div>
                <div class="card border-top-yellow">
                    <!-- <img src="images/card-img3.png" alt="" > -->
                    <h2>Business Consulting</h2>
                    <br>
                    <p>Strategic vision meets actionable plans - trust Nexus for business strategies that pave the way for sustained growth and success.</p>
                    <br>
                    <div class="explore-btn">
                    <a href="/">Explore   <i class="fa fa-arrow-right"></i></a></div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="top">
                <div>
                <h1>Techy Software</h1>
                <p>innovate and progress</p>
                </div>
                <div>
                    <a href="https://www.facebook.com/people/Page-Nexus/pfbid02JzUGbhzDRdPwQA6HJJ85FBJQ4t1ynZC6q6Qf2zhrNp2SAowp9ib7ALmmpDbMxrial/?sk=about">
                        <i class="fa-brands fa-facebook"></i>
                        
                    </a>
                    <a href="https://www.instagram.com/nexussoftware.in/">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/nexus-software-pvt-ltd/">
                        <i class="fa-brands fa-linkedin"></i>
    
    
                    </a>
                </div>
                
        
                    
                
            </div>
    
            <div class="bottom">
                <div>
                    <h4>Project</h4>
                    <a href="/">Changelog</a>
                    <a href="/">Status</a>
                    <a href="/">License</a>
                    <a href="/">All Versions</a>
                </div>
                <div>
                    <h4>Project</h4>
                    <a href="/">Changelog</a>
                    <a href="/">Status</a>
                    <a href="/">License</a>
                    <a href="/">All Versions</a>
                </div>
                <div>
                    <h4>Project</h4>
                    <a href="/">Changelog</a>
                    <a href="/">Status</a>
                    <a href="/">License</a>
                    <a href="/">All Versions</a>
                </div>
                <div>
                    <h4>Project</h4>
                    <a href="/">Changelog</a>
                    <a href="/">Status</a>
                    <a href="/">License</a>
                    <a href="/">All Versions</a>
                </div>
    
            </div>
    
    
        </div>
    
    
        
    </body>
    </html>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    
  